.job-card {
  border: 4px solid #000000ff;
  border-radius: 6px;
  padding: 12px 16px;
  margin-bottom: 12px;
  background-color: #fff;
}

.job-card h3 {
  margin: 0 0 8px;
}

.job-card p {
  margin: 4px 0;
  font-size: 14px;
}
